body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(144, 189, 185) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: center;
  padding: 10px;
  margin: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div .card {
  width: max-content;
  background-color: rgb(96, 151, 168);
  align-items: center;
}

input.form-control {
  width: 250px;
  border: dashed rgb(25, 4, 167) 3px;
  margin: auto;
}

h1{
  padding: 0 0;
  margin: 0 0;
}

.container{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap
}
.container .card {
  width: 200px !important;
  margin: 10px;
  /* height: 20rem !important; */
}



.card img{
  border-radius: 20px;
}

.movieCard{
  height: 28rem !important;
  font-weight: bolder;
  font-size: larger;
  color: rgb(7, 90, 29);
  margin: 20px !important;
}
.movieCard img{
  position: absolute;
  bottom: 10px;
}